<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
   <link rel="stylesheet" href="/admindashbaord.css">
   <script>
       function toggleDropdown(id) {
    const dropdown = document.getElementById(id);
    dropdown.classList.toggle("show");
    }
   </script>

</head>
<body>
    <%-include("nav.ejs") %>
    <div class="dashboard">
        <div class="sidebar">
            <!-- <h2>Dashboard</h2> -->
            <div class="logo">
              <img src="/images/Cheflogo.jpeg" alt="Logo" width="100" />
            </div>
            <div class="dropdown">
                <button class="dropdown-button">Dashboard</button>
                <div class="dropdown-content">
                    <!-- <a href="#">Add Category</a> -->
                    <!-- <a href="#">View Category</a> -->
                </div>
            </div>
            <div class="dropdown">
                <button class="dropdown-button">Category</button>
                <div class="dropdown-content">
                    <a href="/addcategory">Add Category</a>
                    <a href="/viewcategory">View Category</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">Menu</button>
                <div class="dropdown-content">
                    <a href="#">Add Menu</a>
                    <a href="#">View Menu</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">Dining Tables</button>
                <div class="dropdown-content">
                    <a href="#">Add Tables</a>
                    <a href="#">View Tables</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">Staff</button>
                <div class="dropdown-content">
                    <a href="#">Add Staff</a>
                    <a href="#">View Staff</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">View Orders</button>
                <div class="dropdown-content">
                    <a href="#">Cuurent Order</a>
                    <a href="#">Order History</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">Biils</button>
                <div class="dropdown-content">
                    <a href="#">Generate Biils</a>
                    <a href="#">View Bills</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">Reports</button>
                <div class="dropdown-content">
                    <a href="#">Daily Reports</a>
                    <a href="#">Monthly Reports</a>
                </div>
            </div>
        </div>
        <div class="frameitem">
           <% if(msg==="no")
           {
            
           }
           else
           {
            %>
                <%-include(msg)%>
            <%
           }
           %>
        </div>
    </div>
</body>
</html>