<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nav.css"/>
</head>
<body>
    <nav class="navbar">
        <div class="logo">Chef's<span class="highlight">Kitchen</span></div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="">Chef's</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Contact</a></li>
     </ul>
     <div class="nav-icons">
        <a href="/login" class="login">Login</a>
     </div>
    </nav>

    
</body>
</html>