<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/viewcategory.css"/>
</head>
<body>
    <div class="view-category" >
        <div  class="view-category-searchbar">
            <i class="fa-fa-search"></i>
            <input type="text" placeholder="Seach Category....." id="search-input">
        </div>
        
        <div class="view-category-table">
            <h2>View Categories</h2>
            <table class="view-category-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
    
             <div class="pagination-controls" id="pagination"></div>
        </div>
    </div>
</body>
</html>